<a href="https://colab.research.google.com/github/Morsalah/Codility_Python-Probelms-Practice/blob/main/Arrays%7CLeason.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2.1. Creating an array

In [1]:
temperatures = [0] * 365
temperatures

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

# 2.2. Accessing array values

In [2]:
shopping = ['bread', 'butter', 'cheese']
shopping[1]

'butter'

# 2.3. Modifying array values

In [5]:
temperatures[42] = 25
temperatures[42]

25

In [8]:
shopping += ['eggs']
shopping

['bread', 'butter', 'cheese', 'eggs', 'eggs', 'eggs']

# 2.4. Iterating over an array

In [10]:
def negative(temperatures):
  N=len(temperatures)
  days=0
  for i in range(N):
    if temperatures[i]<0:
      days+=1
  return days

negative([36,26,-4,-8,6,48,0,-3])

3

In [12]:
def negative(temperatures):
  days=0
  for temp in temperatures:
    if temp<0:
      days+=1
  return days

negative([36,26,-4,-8,6,48,0,-3])

3

# 2.5. Basic array operations

In [13]:
len([1,2,3])==3

True

In [14]:
['Mor']*5 == ['Mor','Mor','Mor','Mor','Mor']

True

In [15]:
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

In [21]:
[1,2,3],[4,5,6]

([1, 2, 3], [4, 5, 6])

In [26]:
'butter' in ['bread', 'butter', 'cheese']

True

Example

In [27]:
Array = [4, 56, 12, 95, 36, 74, 65, 35]
Array[::-1]

[35, 65, 74, 36, 95, 12, 56, 4]

In [30]:
def reverse(A):
  N=len(A)
  for i in range(N//2):
    A[i],A[N-1-i]=A[N-1-i],A[i]
  return A

A = [9,4, 56, 12, 95, 36, 74, 65, 35,9]
reverse(A)

[9, 35, 65, 74, 36, 95, 12, 56, 4, 9]

In [31]:
Arr = [3, 5, 25, 54, 16, 85, 22, 46, 14, 29]
Arr.reverse()