<a href="https://colab.research.google.com/github/Morsalah/Codility_Python-Probelms-Practice/blob/main/Iterations%7CLesson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.1 For loops

In [ ]:
for i in range (0,101):
  print(i)

In [ ]:
for i in range(100):
  print(i)

Example

In [ ]:
factorial = 1
n = 5
for i in range(1,n+1):
  print("now i is= ",i)
  factorial = factorial*i
  print("now facotial is = ",factorial)
print("total",factorial)

Example

In [ ]:
n = 4
for i in range(1,n+1):
  print(i*' * ')

In [ ]:
n = 10
for i in range(10,0,-1):
  print(i)

Example

In [83]:
n = 1000
print('i have',n,'apples',sep='*')

i have*1000*apples
i have
500
apples

In [ ]:
x = 500
print("i have",x,"apples",sep="\n")

In [118]:
# Total number of rows in the pattern
n = 4

for i in range(n):
    print("  " * i, end="")
    print("* " * (2 * (n - i) - 1))

* * * * * * *
  * * * * *
    * * *
      *

# 1.2. While loops

Example

In [122]:
n=1247
result = 0
while n>0:
  #print(n)
  n=n//10
  result=result+1
print(result)

1247
124
12
1
4

Example

In [143]:
item1 = 0
item2 = 1
n = 5
while item1<= n:
  print(item1,end=" ")
  item1,item2 = item2,item1+item2

0 1 1 2 3 5

# 1.3. Looping over collections of values

In [153]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday','Friday', 'Saturday', 'Sunday']
for day in days:
  print(day,end=" | ")

Monday | Tuesday | Wednesday | Thursday | Friday | Saturday | Sunday |

In [154]:
days = set(['Monday', 'Tuesday', 'Wednesday', 'Thursday','Friday', 'Saturday', 'Sunday'])
for day in days:
  print(day,end=" | ")

Monday | Tuesday | Friday | Thursday | Wednesday | Sunday | Saturday |

In [162]:
days = {
    'mon': 'Monday',
    'tue': 'Tuesday',
    'wed': 'Wednesday',
    'thu': 'Thursday',
    'fri': 'Friday',
    'sat': 'Saturday',
    'sun': 'Sunday'
}
print('Getting KEY value')
for day in days: # get into each key in the dictionary
  print(day,end=" | ")
print()
print('Getting the VALUES stored in the dictionary')
for day in days.values(): # get into each value in the dictionary
  print(day,end=" | ")
print()
print('Getting the KEY and VALUES stored in the dictionary')
for day in days.items(): #get into each key and its value as a tuple stracture
  print(day,end=" | ")

print()
print('Getting the KEY and VALUES stored in the dictionary')
for index,day in enumerate(days.items()): #get into each key and its value as a tuple stracture
  print(index,day,end=" | ")

Getting KEY value
mon | tue | wed | thu | fri | sat | sun |
Getting the VALUES stored in the dictionary
Monday | Tuesday | Wednesday | Thursday | Friday | Saturday | Sunday |
Getting the KEY and VALUES stored in the dictionary
('mon', 'Monday') | ('tue', 'Tuesday') | ('wed', 'Wednesday') | ('thu', 'Thursday') | ('fri', 'Friday') | ('sat', 'Saturday') | ('sun', 'Sunday') |
Getting the KEY and VALUES stored in the dictionary
0 ('mon', 'Monday') | 1 ('tue', 'Tuesday') | 2 ('wed', 'Wednesday') | 3 ('thu', 'Thursday') | 4 ('fri', 'Friday') | 5 ('sat', 'Saturday') | 6 ('sun', 'Sunday') |